# local
*.swp
*.tmp
.DS_Store

# ansible
*.retry

# terragrunt/tofu
.terraform/
.terragrunt-cache/
terraform.tfstate*
crash.log

# ralf local
*.log
.vscode/
.idea/

# ansible
ansible/collections/**/.cache/

# OpenTofu/Terragrunt local state
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/.terragrunt-cache/

# local tfvars (never commit)
**/terraform.tfvars
**/*.auto.tfvars

# local keys (never commit)
stacks/**/keys/
