# Managed by Ansible - Postfix main.cf

myhostname = {{ mail_hostname }}
mydomain = {{ mail_domain }}
myorigin = {{ mail_myorigin }}
inet_interfaces = {{ mail_inet_interfaces }}
inet_protocols = {{ mail_inet_protocols }}
{% set mydest = (mail_my_destination | default([])) + (mail_extra_my_destination | default([])) %}
mydestination = {{ mydest | unique | join(', ') }}
relayhost = {{ mail_relayhost }}
{% if mail_virtual_alias_maps %}
virtual_alias_maps = {{ mail_virtual_alias_maps | join(', ') }}
{% endif %}
{% for key, value in mail_main_cf_extra_parameters | default({}) | dictsort %}
{{ key }} = {{ value }}
{% endfor %}
