node_name    = "pve-deploy"
vm_id        = 9400
hostname     = "minio-svc"
datastore_id = "local-lvm"
bridge       = "vmbr0"

# du hast /16:
ipv4_address = "10.10.40.20/16"
ipv4_gateway = "10.10.0.1"

ssh_pubkey = "ssh-ed25519 AAAA.... ralf@homelab"
template_file_id = "local:vztmpl/ubuntu-24.04-standard_24.04-2_amd64.tar.zst"
