version: "{{ vaultwarden_compose_version }}"
services:
  vaultwarden:
    image: "{{ vaultwarden_image }}"
    container_name: "{{ vaultwarden_container_name }}"
    restart: unless-stopped
    env_file:
      - "{{ vaultwarden_env_file }}"
    ports:
      - "{{ vaultwarden_http_port }}:{{ vaultwarden_internal_port }}"
{% for port in vaultwarden_additional_ports %}
      - "{{ port }}"
{% endfor %}
    volumes:
{% for volume in vaultwarden_compose_volumes %}
      - "{{ volume }}"
{% endfor %}
{% if vaultwarden_labels %}
    labels:
{% for key, value in vaultwarden_labels.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
{% if vaultwarden_compose_extra %}
{{ vaultwarden_compose_extra | to_nice_yaml(indent=4, sort_keys=False) | indent(width=4, indentfirst=False) }}
{% endif %}
