ROCKET_PORT=8222
ROCKET_ADDRESS=0.0.0.0
ROCKET_WORKERS=10
DATA_FOLDER={{ vaultwarden_data_dir }}
DOMAIN={{ vaultwarden_domain }}
ADMIN_TOKEN={{ vaultwarden_admin_token }}
DATABASE_URL={{ vaultwarden_database_url | trim }}
