[Unit]
Description=Vaultwarden container service
After=network-online.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ vaultwarden_base_dir }}
ExecStart={{ vaultwarden_docker_binary }} compose -f {{ vaultwarden_compose_file }} up -d
ExecStop={{ vaultwarden_docker_binary }} compose -f {{ vaultwarden_compose_file }} down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
