SEMAPHORE_CONFIG_PATH={{ semaphore_config_file }}
SEMAPHORE_ADMIN={{ semaphore_admin_user }}
SEMAPHORE_ADMIN_EMAIL={{ semaphore_admin_email }}
SEMAPHORE_ADMIN_PASSWORD={{ semaphore_admin_password }}
SEMAPHORE_LOG_PATH={{ common_log_dir }}/semaphore.log
