{
  email {{ acme_email }}
  acme_ca {{ acme_ca | default("https://acme-v02.api.letsencrypt.org/directory") }}
}

:80 {
  redir https://{host}{uri}
}

{{ service_fqdn }} {
  reverse_proxy {{ service_ip }}:{{ service_port }}
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  }
  tls {
    dns {{ dns_provider }}
  }
}
