server {
    listen {{ netbox_nginx_listen_port }};
    listen [::]:{{ netbox_nginx_listen_port }};
    server_name {{ netbox_nginx_server_name }};

    client_max_body_size 25m;

    location /static/ {
        alias {{ netbox_install_dir }}/netbox/static/;
    }

    location / {
        proxy_pass http://{{ netbox_gunicorn_bind }};
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
