{
  "domain": "https://{{ vaultwarden_domain }}",
  "database_url": "{{ vaultwarden_database_url }}",
  "data_folder": "{{ vaultwarden_data_dir }}",
  "attachments_folder": "{{ vaultwarden_attachments_folder }}",
  "sends_folder": "{{ vaultwarden_sends_folder }}",
  "tmp_folder": "{{ vaultwarden_tmp_folder }}",
  "rocket_address": "{{ vaultwarden_rocket_address }}",
  "rocket_port": {{ vaultwarden_rocket_port }},
  "rocket_workers": {{ vaultwarden_worker_threads }},
  "web_vault_enabled": {{ vaultwarden_web_vault_enabled | lower }},
  "signups_allowed": {{ vaultwarden_signups_allowed | lower }},
  "invitations_allowed": {{ vaultwarden_invitations_allowed | lower }},
  "show_password_hint": {{ vaultwarden_show_password_hint | lower }},
  "admin_token": "{{ vaultwarden_admin_token }}",
  "log_level": "{{ vaultwarden_log_level }}",
  "log_file": "{{ vaultwarden_log_file }}",
  "extended_logging": {{ vaultwarden_extended_logging | lower }},
  "icon_cache_ttl": {{ vaultwarden_icon_cache_ttl }},
  "icon_cache_negttl": {{ vaultwarden_icon_cache_negttl }}{% if vaultwarden_smtp_host %},
  "smtp_host": "{{ vaultwarden_smtp_host }}",
  "smtp_from": "{{ vaultwarden_smtp_from }}",
  "smtp_port": {{ vaultwarden_smtp_port }},
  "smtp_security": "{{ vaultwarden_smtp_security }}"{% if vaultwarden_smtp_username %},
  "smtp_username": "{{ vaultwarden_smtp_username }}",
  "smtp_password": "{{ vaultwarden_smtp_password }}"{% endif %}{% endif %}
}
