[Unit]
Description=MinIO
Documentation=https://min.io/docs/minio/linux/
Wants=network-online.target
After=network-online.target

[Service]
User={{ minio_user }}
Group={{ minio_group }}

# Secrets + runtime config lives here:
EnvironmentFile={{ minio_env_file }}

# Use env vars from EnvironmentFile:
# MINIO_VOLUMES=/var/lib/minio
# MINIO_OPTS="--address :9000 --console-address :9001"
ExecStart={{ minio_bin }} server ${MINIO_VOLUMES} ${MINIO_OPTS}

Restart=always
LimitNOFILE=65536
TimeoutStopSec=30

# Hardening (light)
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ReadWritePaths={{ minio_data_dir }}

[Install]
WantedBy=multi-user.target
