[Unit]
Description=MinIO
Documentation=https://min.io/docs/minio/linux/
Wants=network-online.target
After=network-online.target

[Service]
User={{ minio_user }}
Group={{ minio_group }}
EnvironmentFile={{ minio_env_file }}
ExecStart={{ minio_bin }} server {{ minio_volumes }} {{ minio_opts }}
Restart=always
LimitNOFILE=65536
TimeoutStopSec=30

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ReadWritePaths={{ minio_volumes }}

[Install]
WantedBy=multi-user.target
