[defaults]
inventory = inventories/home/hosts.yml
roles_path = roles
collections_paths = collections
interpreter_python = auto_silent
retry_files_enabled = False
nocows = True
stdout_callback = yaml
bin_ansible_callbacks = True
force_color = 1
hash_behaviour = merge
vault_password_file =

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
pipelining = True
control_path = ~/.ansible/cp/ansible-ssh-%%h-%%p-%%r
