[Unit]
Description=Dashy Dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ dashy_user }}
WorkingDirectory={{ dashy_install_dir }}
Environment=NODE_ENV={{ dashy_node_env }}
Environment=PORT={{ dashy_listen_port }}
Environment=HOST={{ dashy_listen_host }}
ExecStart=/usr/bin/npm run dev -- --host {{ dashy_listen_host }} --port {{ dashy_listen_port }}
Restart={{ dashy_service_restart }}
RestartSec={{ dashy_service_restart_sec }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
